:root {
	--blue: rgb(0,255,250);
	--black: #000;
    --white: #ffffff;
	--gray: #C0C0C0;
	--pink: rgb(236, 14, 162);
}

body,
html {
	width: 100%;
	background: var(--blue);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	font-family: sans-serif;
}
.person {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.person__info {
	margin: 2rem 2rem 2rem 0;
}
.person__contacts {
	display: flex;
	justify-content: center;
	align-items: center;
}
.person__details {
	max-width: 890px;
}
.avatar {
	margin-top: 2rem;
}

.avatar__picture {
	border-radius: 50%;
	border: 32px solid var(--white);
	width: 400px;
    height: 400px;
}
.avatar__picture:hover {
	transform: rotate(180deg);
	transition:all 0.5s linear;
	border: 32px solid var(--pink);
}
.contacts {
	margin: 2rem;
}
.contacts__name {
	width: 15ch;
	font-size: 32px;
	color: var(--black);
	font-weight: bold;
	font-family: monospace;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid var(--white);
	animation: flashing-border 0.75s step-end infinite;
	animation: printed-text 3s steps(15);
}
.contacts__role {
	width: 27ch;
	font-size: 19.2px;
	color: var(--black);
	font-weight: bold;
	margin-bottom: 2rem;
	font-family: monospace;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid var(--white);
	animation: flashing-border 0.75s step-end infinite;
	animation: printed-text 3s steps(27);
	animation-delay: 3s;
}
@keyframes flashing-border {
	0% {
		border-color: var(--white);
	}
	50% {
		border-color: transparent;
	}
	100% {
		border-color: var(--white);
	}
}
@keyframes printed-text {
	from {
		width: 0;
	}
}
.contacts__item {
	list-style-type: none;
	font-style: italic;
}
.contacts__title {
	font-weight: bold;
}
.contacts__links {
	padding: 0;
}
.contacts__title:after {
	content: ": ";
}
.contacts__link {
	color: var(--gray);
}
.paragraph {
	margin-bottom: 1rem;
	
}
.paragraph_last {
	margin-bottom: 3rem;
}
